<nav aria-label="Page navigation">
    <ul class="pagination">
        {{#if prev}}
            <li class="page-item">
                <a class="page-link" href="{{page_url prev}}" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        {{/if}}

        <li class="page-item disabled">
            <span class="page-link">Page {{page}} of {{pages}}</span>
        </li>

        {{#if next}}
            <li class="page-item">
                <a class="page-link" href="{{page_url next}}" aria-label="Next">
                    <span aria-hidden="true">»</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        {{/if}}
    </ul>
</nav>